      <div class="wrapper-clock orange-circle">
        <div class="style-clock"><%= @check.attacksurface["hosts"].count %>
          <div class="scan-duration" id="subdomains-found">Attack Surface Points
            <a href="#report-banner-3" class="thin-buttons scroll result-graph-attack">See Report</a>
          </div>
        </div>
      </div>