 <div class="no-margin-desc-start" id="graph-description">The risk associated with the dangerous port(s) that has been detected.
</div>
<div id="graph-description">The amount of time we took detecting the weaknesses in the hostname you provided.</div>
<div id="graph-description">The attack surface is the sum of the entry points (subdomains) in your main domain. </div>
<div class="no-margin-desc-end" id="graph-description">The IP address is the "id" of the device you used for this search.</div>