<div class="mt-5 mb-5 row align-items-center">
        <div class="col-lg-6 col-sm-12">
            <div class="card card-responsive_grid border-0">
            <span class="border-0"></span>
            <p class="text-section-title-desc text-center">Find security vulnerabilities continously in what you build
            </p>
            <p class="text-section-desc">We aim to help you build safer web apps by helping you detect weaknesses and vulnerabilities across. For instance DNS, database or cloud misconfigurations. Continous protection is available for all your web apps.
            </p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-9">
            <div class="card card-responsive_grid">
            <img src="https://res.cloudinary.com/dspkvxtxa/image/upload/v1626871658/zilpb3qxnzhxtjcmegdt.jpg"  class="card-img-top" alt="...">
            </div>
        </div> 
</div> 
<div class="mt-5 row align-items-center">
    <div class="col-lg-6 col-sm-9">
        <div class="card card-responsive_grid">
        <img src="https://res.cloudinary.com/dspkvxtxa/image/upload/v1626871658/uparz3irarvnblpdpcgv.jpg"  class="card-img-top" alt="...">
        </div>
    </div> 
    <div class="mt-2 col-lg-6 col-sm-12 ">
        <div class="card card-responsive_grid border-0">
        <span class="border-0"></span>
        <p class="text-section-title-desc text-center">Automating and optimising hacker knowledge 
        </p>
        <p class="text-section-desc">Ceziam incorporates the know-how of some of the worlds best ethical hackers to provide an all in toolkit to help you secure what you build. You stay ahead of the threat by being able to quickly understand the weaknesses of your application.
        </p>
        </div>
    </div>
</div>