<div class="glossary-header-container">
        <p class="page-description glossary-description" id="full-report-header-description">This is your full report page. You will find all the information related to your website's security that we have detected.</p>
</div>
    <div class="logo-banner static-logo" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
    </div>
    <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
    </div>