<div class="row row-cols-3 text-center">	
    <div class="col">	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    </div>	
    <div class="col">	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    </div>	
    <div class="col">	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    <i class="fas fa-star fa-xs" style="color:#FFE227"></i>	
    </div>	
    </div>	
    <div class="row row-cols-3 text-center">	
    <div class="col">	
    <p class="text-film-review">""...amazingly easy to setup..."</p> 	
    </div>	
    <div class="col">	
    <p class="text-film-review">""...simple to use interface..."</p> 	
    </div>	
    <div class="col">	
    <p class="text-film-review">""...I know what to do so I don't get hacked..."</p> 	
    </div>	
</div> 	
